.header {
  position: fixed;
  width: 100%;
  background: var(--gray-color);
  transition: 0.3s;
  z-index: 100;
  padding: 20px 0;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 30px;
  font-weight: 600;
  color: var(--lime-blue-color);
}

.links ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.links ul li a {
  color: var(--gray-color-3);
  font-size: 18px;
  font-weight: 500;
  transition: var(--transition);
}

.links ul li a:hover {
  color: var(--lime-blue-color);
}

.links ul li a.activeLink {
  color: var(--lime-blue-color);
  position: relative;
}
.activeLink::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 20px;
  height: 2px;
  background: var(--lime-blue-color);
}

.cvButton {
  background-image: linear-gradient(
    to right,
    var(--lime-blue-color),
    var(--blue-color)
  );
  opacity: 0.8;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  transition: var(--transition);
  a {
    color: var(--white-color);
  }
  &:hover {
    background-image: linear-gradient(
      to right,
      var(--blue-color),
      var(--lime-blue-color)
    );
    opacity: 1;
    cursor: pointer;
  }
}
