.skillItem {
  padding: 10px 10px 20px 10px;
  border-bottom: 1px solid var(--gray-color);
}

.skillNameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.skillName {
  font-weight: bold;
  color: transparent;
  background-image: linear-gradient(
    to left,
    var(--lime-blue-color),
    var(--blue-color)
  );
  -webkit-background-clip: text;
  opacity: 0.7;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.skillItem:hover .skillName {
  opacity: 1;
}

.level {
  opacity: 0.7;
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--blue-color);
}

.skillLevelContainer {
  width: 100%;
  height: 5px;
  background-color: var(--white-color);
  border-radius: 10px;
  overflow: hidden;
}

.skillLevel {
  height: 100%;
  background: linear-gradient(
    to right,
    var(--lime-blue-color),
    var(--blue-color)
  );
  animation: progressAnimation 2s ease-out forwards;
  -webkit-animation: progressAnimation 2s ease-out forwards;
}

@keyframes progressAnimation {
  0% {
    width: 0;
  }
  100% {
    width: calc(var(--skill-width) * 1%);
  }
}
