@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --body-color: rgb(250, 250, 250);
  --white-color: rgb(255, 255, 255);

  --gray-color: rgb(240, 238, 237);
  --gray-color-2: #aaa;
  --gray-color-3: rgb(68, 68, 68);
  --gray-color-4: #333;

  --burble-color: rgb(110, 87, 224);
  --burble-color-2: rgb(110, 87, 224);

  --lime-blue-color: rgb(30, 159, 171);
  --blue-color: rgb(40, 91, 212);
  

  --yellow-color: rgb(192, 166, 49);
  --yellow-color-2: rgba(244, 206, 39, 0.4);

  ---shadow-color: rgba(0, 0, 0, 0.1);
  --shadow-color-2: rgba(0, 0, 0, 0.3);

  --transition: 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
}

body {
  background-color: var(--body-color);
  color: var(--text-color-second);
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  /* padding: 0 15px; */
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}
